

p{

    font-style: italic;
    font-size: .9em;
    line-height: 1.5em;

}


a {
    padding: 0px 10px;
    word-wrap: normal;
    display: inline-block;
  }

  a:link {
    color: Green;
    text-decoration: none;
  }
  
  a:visited {
    color: Red;
  }
  
  a:hover {
    text-decoration: none;
    color: red;
    font-family: cursive;
    font-weight: bold; 
  }
  

  textarea {
    width: 50%;
    height: 100px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

label {
    display: block;
}

label {
    margin-bottom: 10px;
}